  <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
  <div class="container">
    <a class="navbar-brand">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link">Welcome <%= name %>
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
            <a href="/users/logout" class="btn btn-secondary float-right">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--  -->
<br /><br />
<div class="container h-100">
  <!-- Saved Feeds -->
  <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-rss-square"></i> Saved Feeds
          </h1>
          <ul class="list group">
              <% let savedFeedsCount = 0; %>
              <% feeds.forEach(function(i) { %>
                  <% savedFeedsCount++ %>
              <li class="list-group-item"><%= i.title %> </li>
              <% }); %> 
          </ul>
              <br>
              <a href="#article-list" class="btn btn-primary">
                <button type="button" class="btn btn-primary">
                  Articles Displayed <span class="badge badge-light">
                    <%= savedFeedsCount*5 %>
                  </span> 
                </button>
              </a>
            <!-- -->
        </div>
      </div>
    </div>

  <!-- Add Links -->
  <div class="row mt-4">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-newspaper"></i> Add Links
          </h1>
          <form action="/users/dashboard" method="POST">
            <div class="form-group">
              <label for="link">RSS-Feed</label>
              <input
                type="link"
                id="link"
                name="link"
                class="form-control"
                placeholder="Enter RSS-Feed link"
                value="<%= typeof link != 'undefined' ? link : '' %>"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Add Link
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

<br />
<!--  -->
<!--  -->
    <div class="container-fluid" id="article-list"></div>
      <table class ="table">
        <thead>
          <tr>
            <div class="col-3"><th scope="col" class="d-none d-md-block">Source</th></div>
            <div class="col-3"><th scope="col">Title</th></div>
            <div class="col-3"><th scope="col">Description</th></div>
            <div class="col-3"><th scope="col" class="d-none d-md-block">Published Date</th></div>
          </tr>
        </thead>
        <tbody>
          <tr>
      
      <% feeds.forEach(function(o) { %>
        <% let count = 0; %>
        <% o.items.forEach(function(i) { %>
            <% count++; %>
            <% if(count<6){ %>
          <td class="d-none d-md-block"> <%= o.title %> </td>
          <td>
            <a href="<%= i.link %>" target="_blank">
                <%= i.title %>
            </a>
          </td>
          <td>
              <button type="button" class="btn btn-lg btn-primary" data-toggle="popover"
              
              data-content="<%= (i.contentSnippet).replace(/\&nbsp;/g, '\n') %>" 
              >
               Description</button>
          </td>
          <td class="d-none d-md-block"><%= i.pubDate %></td>
        </tr>
        <% } %>
       <% }); %>
      <% }); %>

      </tbody>
    </table>
  </div>
    

</div>

<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Created by
      <a href=" https://www.craftyclark.com" target="_blank"> Andrew Clark</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


<style>
div.popover-body{
  font-size: 1rem;
}

td {
  font-size: 1rem;
}

</style>


